# Regression With Keras B

## Table of content

1. Data Viualization
2. Data preprocessing
3.Model Building
4.Model Training
5.Model Evaluation
6.MSE mean and std calculation

Data Cleaning

Importing the required Libraries

In [1]:
import numpy as np
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

Dataset Loading

In [2]:
data=pd.read_csv("concrete_data.csv")
data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
data.shape

(1030, 9)

In [4]:
data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

Checking for null values

In [5]:
data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

Spliting the dataset into predicting variables and target ones

In [6]:
target_variables=data["Strength"]
predicting_variables=data[["Cement","Blast Furnace Slag", "Fly Ash","Water",
                         "Superplasticizer", "Coarse Aggregate", "Fine Aggregate", "Age"]]
predicting_variables.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [7]:
target_variables.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Normalization for predicting variables

In [8]:
predicting_val=(predicting_variables-predicting_variables.mean())/predicting_variables.std()
predicting_val.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Creating ncols as we are going to need it in building our model

In [9]:
ncols=predicting_val.shape[1]

### Now we are good to build our model

As we've imorted all required libraries at the top we are going to build our model

Defining the model function

In [10]:
def regression_model():
    
    #Build the model
    model=Sequential()
    model.add(Dense(10,activation="relu", input_shape=(ncols,)))
    model.add(Dense(1))
    
    #compile the model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

Training the Model

In [11]:
model=regression_model()

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( predicting_val, target_variables, test_size=0.3, random_state=4)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)
# fit the model
model.fit(predicting_val, target_variables, validation_split=0.3, epochs=50, verbose=1)

Train set: (721, 8) (721,)
Test set: (309, 8) (309,)
Train on 721 samples, validate on 309 samples
Epoch 1/50
721/721 [==============================] - 1s 971us/step - loss: 1637.9496 - val_loss: 1186.3794
Epoch 2/50
721/721 [==============================] - 0s 384us/step - loss: 1619.4166 - val_loss: 1171.8161
Epoch 3/50
721/721 [==============================] - 0s 420us/step - loss: 1599.8608 - val_loss: 1156.6801
Epoch 4/50
721/721 [==============================] - 0s 418us/step - loss: 1578.6517 - val_loss: 1141.3214
Epoch 5/50
721/721 [==============================] - 0s 384us/step - loss: 1555.8949 - val_loss: 1124.7831
Epoch 6/50
721/721 [==============================] - 0s 381us/step - loss: 1530.9670 - val_loss: 1107.5753
Epoch 7/50
721/721 [==============================] - 0s 364us/step - loss: 1504.0780 - val_loss: 1089.1506
Epoch 8/50
721/721 [==============================] - 0s 589us/step - loss: 1475.5368 - val_loss: 1070.3060
Epoch 9/50
721/721 [==============================] - 0s 351us/step - loss: 1444.7356 - val_loss: 1050.3922
Epoch 10/50
721/721 [==============================] - 0s 390us/step - loss: 1412.0487 - val_loss: 1030.0340
Epoch 11/50
721/721 [==============================] - 0s 359us/step - loss: 1377.5883 - val_loss: 1008.7396
Epoch 12/50
721/721 [==============================] - 0s 325us/step - loss: 1341.6765 - val_loss: 986.3902
Epoch 13/50
721/721 [==============================] - 0s 336us/step - loss: 1304.3837 - val_loss: 963.8089
Epoch 14/50
721/721 [==============================] - 0s 281us/step - loss: 1265.7561 - val_loss: 940.5616
Epoch 15/50
721/721 [==============================] - 0s 393us/step - loss: 1225.6507 - val_loss: 917.1804
Epoch 16/50
721/721 [==============================] - 0s 381us/step - loss: 1184.4969 - val_loss: 893.1687
Epoch 17/50
721/721 [==============================] - 0s 343us/step - loss: 1142.6167 - val_loss: 868.4768
Epoch 18/50
721/721 [==============================] - 0s 419us/step - loss: 1099.8629 - val_loss: 843.5874
Epoch 19/50
721/721 [==============================] - 0s 336us/step - loss: 1056.6001 - val_loss: 818.9493
Epoch 20/50
721/721 [==============================] - 0s 400us/step - loss: 1013.5651 - val_loss: 793.9095
Epoch 21/50
721/721 [==============================] - 0s 313us/step - loss: 970.4881 - val_loss: 768.5507
Epoch 22/50
721/721 [==============================] - 0s 311us/step - loss: 927.3146 - val_loss: 744.1493
Epoch 23/50
721/721 [==============================] - 0s 386us/step - loss: 885.3845 - val_loss: 719.5977
Epoch 24/50
721/721 [==============================] - 0s 326us/step - loss: 843.6479 - val_loss: 695.0340
Epoch 25/50
721/721 [==============================] - 0s 359us/step - loss: 803.0437 - val_loss: 670.7696
Epoch 26/50
721/721 [==============================] - 0s 471us/step - loss: 764.0688 - val_loss: 647.3166
Epoch 27/50
721/721 [==============================] - 0s 604us/step - loss: 725.7831 - val_loss: 624.2445
Epoch 28/50
721/721 [==============================] - 0s 361us/step - loss: 689.1177 - val_loss: 601.8416
Epoch 29/50
721/721 [==============================] - 0s 362us/step - loss: 653.7424 - val_loss: 580.1950
Epoch 30/50
721/721 [==============================] - 0s 382us/step - loss: 619.7836 - val_loss: 558.9738
Epoch 31/50
721/721 [==============================] - 0s 415us/step - loss: 587.5552 - val_loss: 537.7646
Epoch 32/50
721/721 [==============================] - 0s 519us/step - loss: 557.1769 - val_loss: 517.8486
Epoch 33/50
721/721 [==============================] - 0s 581us/step - loss: 528.0653 - val_loss: 498.6375
Epoch 34/50
721/721 [==============================] - 0s 501us/step - loss: 501.7718 - val_loss: 479.6757
Epoch 35/50
721/721 [==============================] - 0s 328us/step - loss: 476.6689 - val_loss: 462.6876
Epoch 36/50
721/721 [==============================] - 0s 584us/step - loss: 453.3966 - val_loss: 446.0417
Epoch 37/50
721/721 [==============================] - 0s 469us/step - loss: 431.9489 - val_loss: 430.1876
Epoch 38/50
721/721 [==============================] - 0s 382us/step - loss: 411.9064 - val_loss: 415.3492
Epoch 39/50
721/721 [==============================] - 0s 365us/step - loss: 393.7815 - val_loss: 400.9543
Epoch 40/50
721/721 [==============================] - 2s 2ms/step - loss: 376.8293 - val_loss: 387.6912
Epoch 41/50
721/721 [==============================] - 0s 358us/step - loss: 361.5712 - val_loss: 374.5278
Epoch 42/50
721/721 [==============================] - 0s 357us/step - loss: 347.2735 - val_loss: 363.1727
Epoch 43/50
721/721 [==============================] - 0s 357us/step - loss: 334.7438 - val_loss: 352.3865
Epoch 44/50
721/721 [==============================] - 0s 610us/step - loss: 323.3636 - val_loss: 341.6913
Epoch 45/50
721/721 [==============================] - 0s 335us/step - loss: 312.8502 - val_loss: 332.4222
Epoch 46/50
721/721 [==============================] - 0s 332us/step - loss: 303.4193 - val_loss: 323.9876
Epoch 47/50
721/721 [==============================] - 0s 358us/step - loss: 295.0066 - val_loss: 315.5266
Epoch 48/50
721/721 [==============================] - 0s 363us/step - loss: 287.2547 - val_loss: 307.9806
Epoch 49/50
721/721 [==============================] - 0s 273us/step - loss: 280.2833 - val_loss: 301.2657
Epoch 50/50
721/721 [==============================] - 0s 310us/step - loss: 273.9952 - val_loss: 295.5225

In [13]:
loss_val = model.evaluate(X_test, y_test)
yhat = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 128us/step

285.1603565401244

Model Evaluation

In [14]:

from sklearn.metrics import mean_squared_error
#Mean and std calculation for mse
mse = mean_squared_error(y_test, yhat)
mean = np.mean(mse)
standard_deviation = np.std(mse)
print("Mean of mse is: ",mean,"and STD of mse is: ", standard_deviation)

Mean of mse is:  285.16036119278675 and STD of mse is:  0.0

In [15]:
total_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_errors):
    X_train, X_test, y_train, y_test = train_test_split(predicting_val, target_variables, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    yhat = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, yhat)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_errors) + " mean squared errors without normalized data. Total number of epochs is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 134.49133513120387
MSE 2: 136.9264304645625
MSE 3: 99.06049734566204
MSE 4: 97.31248261781958
MSE 5: 86.32500717014942
MSE 6: 85.37926675740955
MSE 7: 87.90495095361013
MSE 8: 72.0389561822885
MSE 9: 73.55055231878286
MSE 10: 64.94201068816447
MSE 11: 62.80778441691476
MSE 12: 54.02344440102191
MSE 13: 62.892243382228614
MSE 14: 55.949289772502816
MSE 15: 49.13182038242377
MSE 16: 40.66380789056179
MSE 17: 44.58748058825249
MSE 18: 43.711251428597954
MSE 19: 42.98492005727824
MSE 20: 44.18330564776671
MSE 21: 40.97894726602005
MSE 22: 42.69123450220596
MSE 23: 39.09393240178673
MSE 24: 42.15816570639996
MSE 25: 45.38766265918522
MSE 26: 43.03765219777919
MSE 27: 41.919367126662365
MSE 28: 40.696989294008915
MSE 29: 46.85850012572452
MSE 30: 43.664824383930096
MSE 31: 43.45899384384402
MSE 32: 40.509070597034444
MSE 33: 40.1220782258364
MSE 34: 46.1557669778472
MSE 35: 42.54417310794966
MSE 36: 48.217407479641125
MSE 37: 44.919490869762825
MSE 38: 45.95258269572335
MSE 39: 43.17063803811675
MSE 40: 39.91040621760594
MSE 41: 48.876223814140246
MSE 42: 40.99111284175737
MSE 43: 41.19788081591955
MSE 44: 47.84904154064586
MSE 45: 47.14441230304804
MSE 46: 47.70445047767417
MSE 47: 44.96023901535084
MSE 48: 43.43719547851958
MSE 49: 45.649156984002076
MSE 50: 48.42488082095643


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs is: 50

Mean: 55.13098584996916
Standard Deviation: 22.479566771608614

The Mean of B i greater compared to Mean of A