# Coursera Peer Graded Assignment A

## Table of Contents

1. Data Preprocessing
2.Building Model
3.Model Training
4.Model Evaluation
5.Finding and printing out the mean squared errors

#### Let's start cleaning the data

Importing the required libraries

In [1]:
import numpy as np
import pandas as pd

Visualizing the dataset

In [2]:
df=pd.read_csv("concrete_data.csv")
df.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
df.shape

(1030, 9)

Let's evaluate whether there are missing values in the dataset

In [4]:
df.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
df.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

Now we are ready to go as our data is very clean

Let's split the data into target values and pridicting variable

In [6]:
target_variables=df["Strength"]
predicting_variables=df[["Cement","Blast Furnace Slag", "Fly Ash","Water",
                         "Superplasticizer", "Coarse Aggregate", "Fine Aggregate", "Age"]]
predicting_variables.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [7]:
target_variables.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Let's Normalize the predicting variables

In [8]:
ncols=predicting_variables.shape[1]

We need to save the number of predicting values ncol as we are going to need it in our model training

# We are good to Build Our Model

importing the Keras library that we are going to use

In [9]:
import keras

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

Importing the required keras libraries to build our model

In [10]:
from keras.models import Sequential
from keras.layers import Dense

Building the Model

Let's define a function for our Neural Network

In [11]:
#define the model function
import sklearn
def regression_model():
    #build the model
    model=Sequential()
    
    model.add(Dense(10,activation="relu", input_shape=(ncols,)))
    model.add(Dense(1))
    
    #compile the model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

Now we've built our model function it's the time to evaluate our model using the train_test_split

In [12]:
X=predicting_variables.values
y=target_variables.values
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.3, random_state=4)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

Train set: (721, 8) (721,)
Test set: (309, 8) (309,)

In [13]:
model=regression_model()

Model Training on Training dataset

In [14]:
model.fit(X_train,y_train,epochs=50,verbose=1)

Epoch 1/50
721/721 [==============================] - 1s 753us/step - loss: 10535.9113
Epoch 2/50
721/721 [==============================] - 0s 280us/step - loss: 7082.5863
Epoch 3/50
721/721 [==============================] - 0s 325us/step - loss: 5406.5385
Epoch 4/50
721/721 [==============================] - 0s 270us/step - loss: 4029.1811
Epoch 5/50
721/721 [==============================] - 0s 248us/step - loss: 3007.5719
Epoch 6/50
721/721 [==============================] - 0s 260us/step - loss: 2233.2777
Epoch 7/50
721/721 [==============================] - 0s 282us/step - loss: 1667.4208
Epoch 8/50
721/721 [==============================] - 0s 297us/step - loss: 1266.2721
Epoch 9/50
721/721 [==============================] - 0s 467us/step - loss: 986.0379
Epoch 10/50
721/721 [==============================] - 0s 439us/step - loss: 797.2520
Epoch 11/50
721/721 [==============================] - 0s 330us/step - loss: 669.0250
Epoch 12/50
721/721 [==============================] - 1s 755us/step - loss: 564.2044
Epoch 13/50
721/721 [==============================] - 0s 380us/step - loss: 500.5662
Epoch 14/50
721/721 [==============================] - 0s 333us/step - loss: 451.7595
Epoch 15/50
721/721 [==============================] - 0s 357us/step - loss: 409.9339
Epoch 16/50
721/721 [==============================] - 0s 360us/step - loss: 385.1516
Epoch 17/50
721/721 [==============================] - 0s 280us/step - loss: 350.1945
Epoch 18/50
721/721 [==============================] - 0s 332us/step - loss: 322.7328
Epoch 19/50
721/721 [==============================] - 0s 305us/step - loss: 303.1256
Epoch 20/50
721/721 [==============================] - 0s 583us/step - loss: 278.5956
Epoch 21/50
721/721 [==============================] - 3s 4ms/step - loss: 262.7657
Epoch 22/50
721/721 [==============================] - 0s 414us/step - loss: 245.2179
Epoch 23/50
721/721 [==============================] - 0s 413us/step - loss: 230.6284
Epoch 24/50
721/721 [==============================] - 0s 414us/step - loss: 224.2055
Epoch 25/50
721/721 [==============================] - 0s 283us/step - loss: 211.9651
Epoch 26/50
721/721 [==============================] - 0s 331us/step - loss: 199.1577
Epoch 27/50
721/721 [==============================] - 0s 305us/step - loss: 192.1834
Epoch 28/50
721/721 [==============================] - 0s 338us/step - loss: 190.8571
Epoch 29/50
721/721 [==============================] - 0s 296us/step - loss: 180.4710
Epoch 30/50
721/721 [==============================] - 0s 306us/step - loss: 171.8668
Epoch 31/50
721/721 [==============================] - 0s 383us/step - loss: 165.2266
Epoch 32/50
721/721 [==============================] - 0s 311us/step - loss: 158.2430
Epoch 33/50
721/721 [==============================] - 0s 306us/step - loss: 153.1658
Epoch 34/50
721/721 [==============================] - 0s 302us/step - loss: 151.7220
Epoch 35/50
721/721 [==============================] - 0s 359us/step - loss: 144.0790
Epoch 36/50
721/721 [==============================] - 0s 366us/step - loss: 140.2155
Epoch 37/50
721/721 [==============================] - 0s 358us/step - loss: 139.1168
Epoch 38/50
721/721 [==============================] - 0s 310us/step - loss: 130.7151
Epoch 39/50
721/721 [==============================] - 0s 327us/step - loss: 127.7663
Epoch 40/50
721/721 [==============================] - 0s 359us/step - loss: 124.1852
Epoch 41/50
721/721 [==============================] - 1s 779us/step - loss: 119.8945
Epoch 42/50
721/721 [==============================] - 0s 384us/step - loss: 117.8781
Epoch 43/50
721/721 [==============================] - 0s 445us/step - loss: 113.5274
Epoch 44/50
721/721 [==============================] - 0s 380us/step - loss: 110.2097
Epoch 45/50
721/721 [==============================] - 0s 282us/step - loss: 110.8869
Epoch 46/50
721/721 [==============================] - 0s 271us/step - loss: 107.1541
Epoch 47/50
721/721 [==============================] - 0s 367us/step - loss: 104.9640
Epoch 48/50
721/721 [==============================] - 0s 422us/step - loss: 100.3839
Epoch 49/50
721/721 [==============================] - 0s 326us/step - loss: 99.5038
Epoch 50/50
721/721 [==============================] - 0s 391us/step - loss: 103.2592

Model Evaluation

In [15]:
loss_val = model.evaluate(X_test, y_test)
yhat = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 262us/step

115.34580406016131

Model Evaluation using Sklearn and MSE mean and Std calculations

In [16]:
#import the library for mse calculation
from sklearn.metrics import mean_squared_error

#Mean and std calculation for mse
mse = mean_squared_error(y_test, yhat)
mean = np.mean(mse)
standard_deviation = np.std(mse)
print("Mean of mse is: ",mean,"and STD of mse is: ", standard_deviation)

Mean of mse is:  115.34580188239684 and STD of mse is:  0.0

Now we are free to create the MSE List with 50 iteration

In [17]:
total_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_errors):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    yhat = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, yhat)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_errors) + " mean squared errors without normalized data. Total number of epochs is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 70.81358954667273
MSE 2: 74.06389948773923
MSE 3: 54.4223158629581
MSE 4: 59.80266304386472
MSE 5: 62.234336062928236
MSE 6: 53.353930723319934
MSE 7: 59.85254575365184
MSE 8: 46.201644527101976
MSE 9: 51.619265164372216
MSE 10: 54.62187231860115
MSE 11: 47.21267129842517
MSE 12: 49.274706220163885
MSE 13: 59.30324784065913
MSE 14: 52.40480460009529
MSE 15: 60.30040474308347
MSE 16: 54.986485317687
MSE 17: 58.508410271703234
MSE 18: 51.7622421659698
MSE 19: 50.95192951832003
MSE 20: 49.64392687356202
MSE 21: 55.32567475451621
MSE 22: 41.65377668115313
MSE 23: 40.19911887653437
MSE 24: 50.4614213616331
MSE 25: 45.67419206440256
MSE 26: 48.1960177128369
MSE 27: 56.002186920264776
MSE 28: 41.39352798461914
MSE 29: 49.030020729237776
MSE 30: 48.83517106065472
MSE 31: 53.272009889670564
MSE 32: 71.673378583297
MSE 33: 45.7122609406999
MSE 34: 48.37480294434384
MSE 35: 42.087550289808355
MSE 36: 50.519154101127945
MSE 37: 49.544821964498475
MSE 38: 52.33211976579092
MSE 39: 46.69122678639434
MSE 40: 42.54706522870604
MSE 41: 56.87679499407031
MSE 42: 43.58392562372399
MSE 43: 47.10773091485971
MSE 44: 53.38683899320831
MSE 45: 56.12681290709857
MSE 46: 50.27839127327632
MSE 47: 53.44380852165346
MSE 48: 50.51373444097327
MSE 49: 50.91375636128546
MSE 50: 49.06745323008318


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs is: 50

Mean: 52.243192584705085
Standard Deviation: 7.219058154946201