# Regression With Keras D

## Table of content

1. Data Viualization
2. Data preprocessing
3.Model Building
4.Model Training
5.Model Evaluation
6.MSE mean and std calculation

Data Cleaning

Importing the required Libraries

In [1]:
import numpy as np
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

Dataset Loading

In [2]:
data=pd.read_csv("concrete_data.csv")
data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
data.shape

(1030, 9)

In [4]:
data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

Checking for null values

In [5]:
data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

Spliting the dataset into predicting variables and target ones

In [6]:
target_variables=data["Strength"]
predicting_variables=data[["Cement","Blast Furnace Slag", "Fly Ash","Water",
                         "Superplasticizer", "Coarse Aggregate", "Fine Aggregate", "Age"]]
predicting_variables.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [7]:
target_variables.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Normalization for predicting variables

In [8]:
predicting_val=(predicting_variables-predicting_variables.mean())/predicting_variables.std()
predicting_val.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Creating ncols as we are going to need it in building our model

In [9]:
ncols=predicting_val.shape[1]

### Now we are good to build our model

As we've imorted all required libraries at the top we are going to build our model

Defining the model function

In [10]:
def regression_model():
    
    #Build the model
    model=Sequential()
    model.add(Dense(10,activation="relu", input_shape=(ncols,)))
    model.add(Dense(10,activation="relu"))
    model.add(Dense(10,activation="relu"))
    model.add(Dense(1))
    
    #compile the model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

Training the Model

In [11]:
model=regression_model()

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( predicting_val, target_variables, test_size=0.3, random_state=4)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)
# fit the model
model.fit(predicting_val, target_variables, validation_split=0.3, epochs=100, verbose=1)

Train set: (721, 8) (721,)
Test set: (309, 8) (309,)
Train on 721 samples, validate on 309 samples
Epoch 1/100
721/721 [==============================] - 1s 1ms/step - loss: 1749.4496 - val_loss: 1245.3518
Epoch 2/100
721/721 [==============================] - 0s 502us/step - loss: 1720.4723 - val_loss: 1232.4528
Epoch 3/100
721/721 [==============================] - 0s 467us/step - loss: 1697.2184 - val_loss: 1219.3701
Epoch 4/100
721/721 [==============================] - 0s 583us/step - loss: 1671.4552 - val_loss: 1200.2196
Epoch 5/100
721/721 [==============================] - 0s 520us/step - loss: 1636.2503 - val_loss: 1170.8498
Epoch 6/100
721/721 [==============================] - 0s 497us/step - loss: 1584.9733 - val_loss: 1128.2552
Epoch 7/100
721/721 [==============================] - 0s 501us/step - loss: 1510.2876 - val_loss: 1068.1673
Epoch 8/100
721/721 [==============================] - 0s 463us/step - loss: 1401.5114 - val_loss: 987.3124
Epoch 9/100
721/721 [==============================] - 0s 449us/step - loss: 1254.5242 - val_loss: 881.4589
Epoch 10/100
721/721 [==============================] - 0s 441us/step - loss: 1067.6318 - val_loss: 753.7195
Epoch 11/100
721/721 [==============================] - 0s 457us/step - loss: 852.7835 - val_loss: 611.6791
Epoch 12/100
721/721 [==============================] - 0s 448us/step - loss: 636.4686 - val_loss: 475.6021
Epoch 13/100
721/721 [==============================] - 0s 415us/step - loss: 461.1897 - val_loss: 376.5523
Epoch 14/100
721/721 [==============================] - 0s 420us/step - loss: 353.3036 - val_loss: 313.9594
Epoch 15/100
721/721 [==============================] - 0s 460us/step - loss: 292.9814 - val_loss: 268.8462
Epoch 16/100
721/721 [==============================] - 0s 502us/step - loss: 254.3468 - val_loss: 236.0786
Epoch 17/100
721/721 [==============================] - 0s 426us/step - loss: 228.3091 - val_loss: 213.1130
Epoch 18/100
721/721 [==============================] - 0s 465us/step - loss: 211.1401 - val_loss: 200.8380
Epoch 19/100
721/721 [==============================] - 0s 525us/step - loss: 201.2939 - val_loss: 187.6043
Epoch 20/100
721/721 [==============================] - 0s 499us/step - loss: 193.8001 - val_loss: 179.3342
Epoch 21/100
721/721 [==============================] - 0s 469us/step - loss: 187.7954 - val_loss: 175.5376
Epoch 22/100
721/721 [==============================] - 0s 531us/step - loss: 183.2622 - val_loss: 170.3600
Epoch 23/100
721/721 [==============================] - 0s 473us/step - loss: 179.0245 - val_loss: 166.4858
Epoch 24/100
721/721 [==============================] - 0s 475us/step - loss: 175.2697 - val_loss: 163.6457
Epoch 25/100
721/721 [==============================] - 0s 559us/step - loss: 172.1526 - val_loss: 161.6763
Epoch 26/100
721/721 [==============================] - 0s 472us/step - loss: 169.3530 - val_loss: 159.4603
Epoch 27/100
721/721 [==============================] - 0s 608us/step - loss: 167.0961 - val_loss: 155.1387
Epoch 28/100
721/721 [==============================] - 0s 531us/step - loss: 164.4996 - val_loss: 155.0666
Epoch 29/100
721/721 [==============================] - 0s 444us/step - loss: 162.2263 - val_loss: 152.6869
Epoch 30/100
721/721 [==============================] - 0s 492us/step - loss: 159.8741 - val_loss: 150.0755
Epoch 31/100
721/721 [==============================] - 0s 447us/step - loss: 158.1120 - val_loss: 148.4801
Epoch 32/100
721/721 [==============================] - 0s 439us/step - loss: 155.7987 - val_loss: 149.0803
Epoch 33/100
721/721 [==============================] - 0s 468us/step - loss: 154.1212 - val_loss: 144.8034
Epoch 34/100
721/721 [==============================] - 0s 533us/step - loss: 152.0866 - val_loss: 145.0442
Epoch 35/100
721/721 [==============================] - 0s 524us/step - loss: 150.6341 - val_loss: 142.8219
Epoch 36/100
721/721 [==============================] - 0s 527us/step - loss: 149.2120 - val_loss: 142.1820
Epoch 37/100
721/721 [==============================] - 0s 528us/step - loss: 147.3581 - val_loss: 139.4813
Epoch 38/100
721/721 [==============================] - 0s 535us/step - loss: 146.7562 - val_loss: 138.6433
Epoch 39/100
721/721 [==============================] - 0s 499us/step - loss: 144.8814 - val_loss: 138.0967
Epoch 40/100
721/721 [==============================] - 0s 396us/step - loss: 143.4043 - val_loss: 136.9844
Epoch 41/100
721/721 [==============================] - 0s 488us/step - loss: 142.2829 - val_loss: 135.5413
Epoch 42/100
721/721 [==============================] - 0s 553us/step - loss: 141.5492 - val_loss: 134.8850
Epoch 43/100
721/721 [==============================] - 0s 557us/step - loss: 140.3570 - val_loss: 134.5586
Epoch 44/100
721/721 [==============================] - 0s 441us/step - loss: 139.0991 - val_loss: 133.2038
Epoch 45/100
721/721 [==============================] - 0s 419us/step - loss: 137.7027 - val_loss: 132.8245
Epoch 46/100
721/721 [==============================] - 0s 530us/step - loss: 136.8992 - val_loss: 132.3353
Epoch 47/100
721/721 [==============================] - 0s 580us/step - loss: 135.8840 - val_loss: 131.7357
Epoch 48/100
721/721 [==============================] - 0s 441us/step - loss: 135.0369 - val_loss: 131.1298
Epoch 49/100
721/721 [==============================] - 0s 560us/step - loss: 134.2463 - val_loss: 130.0873
Epoch 50/100
721/721 [==============================] - 0s 504us/step - loss: 132.7123 - val_loss: 129.7105
Epoch 51/100
721/721 [==============================] - 0s 365us/step - loss: 131.8688 - val_loss: 127.7701
Epoch 52/100
721/721 [==============================] - 0s 422us/step - loss: 130.9691 - val_loss: 128.2469
Epoch 53/100
721/721 [==============================] - 0s 476us/step - loss: 129.8832 - val_loss: 127.0532
Epoch 54/100
721/721 [==============================] - 0s 555us/step - loss: 128.9383 - val_loss: 125.3336
Epoch 55/100
721/721 [==============================] - 0s 495us/step - loss: 127.8338 - val_loss: 125.8894
Epoch 56/100
721/721 [==============================] - 0s 505us/step - loss: 126.8625 - val_loss: 125.3797
Epoch 57/100
721/721 [==============================] - 0s 461us/step - loss: 126.3028 - val_loss: 123.5132
Epoch 58/100
721/721 [==============================] - 0s 498us/step - loss: 124.9375 - val_loss: 125.4217
Epoch 59/100
721/721 [==============================] - 0s 474us/step - loss: 124.0635 - val_loss: 124.9699
Epoch 60/100
721/721 [==============================] - 0s 484us/step - loss: 123.4491 - val_loss: 123.3423
Epoch 61/100
721/721 [==============================] - 0s 420us/step - loss: 122.4659 - val_loss: 123.7952
Epoch 62/100
721/721 [==============================] - 0s 469us/step - loss: 121.7191 - val_loss: 123.2617
Epoch 63/100
721/721 [==============================] - 0s 528us/step - loss: 121.2298 - val_loss: 121.6132
Epoch 64/100
721/721 [==============================] - 0s 522us/step - loss: 120.4402 - val_loss: 123.2101
Epoch 65/100
721/721 [==============================] - 0s 499us/step - loss: 119.1784 - val_loss: 121.7656
Epoch 66/100
721/721 [==============================] - 0s 556us/step - loss: 118.7267 - val_loss: 120.6266
Epoch 67/100
721/721 [==============================] - 0s 496us/step - loss: 117.9116 - val_loss: 121.6095
Epoch 68/100
721/721 [==============================] - 0s 438us/step - loss: 117.2232 - val_loss: 120.4606
Epoch 69/100
721/721 [==============================] - 1s 891us/step - loss: 116.4818 - val_loss: 120.4684
Epoch 70/100
721/721 [==============================] - 0s 524us/step - loss: 115.7536 - val_loss: 119.3237
Epoch 71/100
721/721 [==============================] - 0s 469us/step - loss: 115.2150 - val_loss: 120.0208
Epoch 72/100
721/721 [==============================] - 0s 500us/step - loss: 114.3965 - val_loss: 117.7397
Epoch 73/100
721/721 [==============================] - 0s 660us/step - loss: 113.8189 - val_loss: 117.2863
Epoch 74/100
721/721 [==============================] - 0s 445us/step - loss: 112.9529 - val_loss: 117.7256
Epoch 75/100
721/721 [==============================] - 0s 494us/step - loss: 112.5462 - val_loss: 118.1929
Epoch 76/100
721/721 [==============================] - 0s 502us/step - loss: 111.6695 - val_loss: 118.2073
Epoch 77/100
721/721 [==============================] - 0s 444us/step - loss: 111.0820 - val_loss: 116.7668
Epoch 78/100
721/721 [==============================] - 0s 453us/step - loss: 110.7812 - val_loss: 115.8966
Epoch 79/100
721/721 [==============================] - 1s 886us/step - loss: 110.4695 - val_loss: 114.7860
Epoch 80/100
721/721 [==============================] - 0s 521us/step - loss: 109.5943 - val_loss: 114.6853
Epoch 81/100
721/721 [==============================] - 0s 660us/step - loss: 108.6797 - val_loss: 115.4121
Epoch 82/100
721/721 [==============================] - 0s 495us/step - loss: 108.1176 - val_loss: 112.1845
Epoch 83/100
721/721 [==============================] - 0s 472us/step - loss: 107.6791 - val_loss: 112.1344
Epoch 84/100
721/721 [==============================] - 0s 474us/step - loss: 107.2080 - val_loss: 112.6834
Epoch 85/100
721/721 [==============================] - 0s 523us/step - loss: 106.4884 - val_loss: 111.9540
Epoch 86/100
721/721 [==============================] - 0s 525us/step - loss: 106.0147 - val_loss: 111.8545
Epoch 87/100
721/721 [==============================] - 0s 557us/step - loss: 105.4310 - val_loss: 111.2788
Epoch 88/100
721/721 [==============================] - 0s 671us/step - loss: 104.8132 - val_loss: 110.3386
Epoch 89/100
721/721 [==============================] - 0s 498us/step - loss: 104.6335 - val_loss: 109.2258
Epoch 90/100
721/721 [==============================] - 0s 521us/step - loss: 103.8945 - val_loss: 109.4939
Epoch 91/100
721/721 [==============================] - 0s 504us/step - loss: 103.6381 - val_loss: 108.5439
Epoch 92/100
721/721 [==============================] - 0s 464us/step - loss: 103.0106 - val_loss: 109.0964
Epoch 93/100
721/721 [==============================] - 0s 502us/step - loss: 102.3885 - val_loss: 107.9444
Epoch 94/100
721/721 [==============================] - 0s 497us/step - loss: 101.7661 - val_loss: 108.0460
Epoch 95/100
721/721 [==============================] - 0s 465us/step - loss: 101.0278 - val_loss: 106.4940
Epoch 96/100
721/721 [==============================] - 0s 419us/step - loss: 100.7960 - val_loss: 105.4170
Epoch 97/100
721/721 [==============================] - 0s 472us/step - loss: 99.9637 - val_loss: 104.6954
Epoch 98/100
721/721 [==============================] - 0s 446us/step - loss: 99.7198 - val_loss: 104.5916
Epoch 99/100
721/721 [==============================] - 0s 582us/step - loss: 99.6770 - val_loss: 102.6369
Epoch 100/100
721/721 [==============================] - 0s 445us/step - loss: 98.4572 - val_loss: 101.7856

In [13]:
loss_val = model.evaluate(X_test, y_test)
yhat = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 192us/step

105.54553000440875

Model Evaluation

In [14]:

from sklearn.metrics import mean_squared_error
#Mean and std calculation for mse
mse = mean_squared_error(y_test, yhat)
mean = np.mean(mse)
standard_deviation = np.std(mse)
print("Mean of mse is: ",mean,"and STD of mse is: ", standard_deviation)

Mean of mse is:  105.54553374704675 and STD of mse is:  0.0

In [15]:
total_errors = 100
epochs = 100
mean_squared_errors = []
for i in range(0, total_errors):
    X_train, X_test, y_train, y_test = train_test_split(predicting_val, target_variables, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    yhat = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, yhat)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_errors) + " mean squared errors without normalized data. Total number of epochs is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 66.0390466980178
MSE 2: 59.24682533239469
MSE 3: 38.32003691589948
MSE 4: 39.22017149940663
MSE 5: 36.086663008507784
MSE 6: 31.73840412892956
MSE 7: 33.35116984543291
MSE 8: 24.14267304800089
MSE 9: 26.057758714003086
MSE 10: 21.952565507981383
MSE 11: 24.355273527620678
MSE 12: 20.46370700725074
MSE 13: 24.852207128284046
MSE 14: 30.080392140015043
MSE 15: 26.051198187769423
MSE 16: 17.377691981861894
MSE 17: 22.81008270720448
MSE 18: 25.58472735519162
MSE 19: 18.967010698657976
MSE 20: 24.6917096665762
MSE 21: 25.106374981333907
MSE 22: 19.54712873292201
MSE 23: 18.735573117401223
MSE 24: 19.24730112020252
MSE 25: 19.88828680970522
MSE 26: 20.148951564406115
MSE 27: 20.412611952105774
MSE 28: 18.073032002618785
MSE 29: 26.121119440566375
MSE 30: 19.018662375539638
MSE 31: 18.624775852586072
MSE 32: 16.593666147645624
MSE 33: 16.48884444869452
MSE 34: 20.450079421009445
MSE 35: 20.46288756336595
MSE 36: 22.67055741714428
MSE 37: 16.169389206228903
MSE 38: 17.82424069376825
MSE 39: 19.216859613807458
MSE 40: 15.905934238125205
MSE 41: 16.278391730052366
MSE 42: 15.963344777672036
MSE 43: 16.680394669566727
MSE 44: 20.227687422125857
MSE 45: 21.569388133422457
MSE 46: 18.800489845399333
MSE 47: 18.47693732795592
MSE 48: 17.04342636552829
MSE 49: 19.339516136638554
MSE 50: 18.3741038115665
MSE 51: 16.587656684677963
MSE 52: 17.552159076369698
MSE 53: 21.078705105580944
MSE 54: 20.60497827128685
MSE 55: 19.509178380750143
MSE 56: 18.775422404884907
MSE 57: 15.813582978973882
MSE 58: 16.65224626534965
MSE 59: 15.576708239644862
MSE 60: 15.885225644775193
MSE 61: 14.411359268484764
MSE 62: 17.40233274725263
MSE 63: 13.333872282775088
MSE 64: 16.370215738475515
MSE 65: 15.57825545585657
MSE 66: 13.520179097320655
MSE 67: 16.84478901736559
MSE 68: 15.951468223892755
MSE 69: 16.351488440553734
MSE 70: 12.581182313196868
MSE 71: 14.075221503050967
MSE 72: 17.4900297516758
MSE 73: 17.11202043082722
MSE 74: 16.742159247784166
MSE 75: 14.420194249322885
MSE 76: 17.614501403759213
MSE 77: 15.78218983369352
MSE 78: 14.467762493392796
MSE 79: 18.19852698119327
MSE 80: 15.13982064824274
MSE 81: 13.539939108789932
MSE 82: 17.00007264128009
MSE 83: 15.26200064872075
MSE 84: 16.19477246417197
MSE 85: 14.883568433496173
MSE 86: 14.036758944440429
MSE 87: 16.908805902721813
MSE 88: 17.11541686320382
MSE 89: 14.910234846343501
MSE 90: 16.765995763266357
MSE 91: 13.274079828972184
MSE 92: 12.123219579554684
MSE 93: 15.729631806654451
MSE 94: 15.72230392135077
MSE 95: 14.043677431865802
MSE 96: 14.5715942444539
MSE 97: 15.609858046843396
MSE 98: 18.129539684184547
MSE 99: 15.582220028133454
MSE 100: 14.09838673983577


Below is the mean and standard deviation of 100 mean squared errors without normalized data. Total number of epochs is: 100

Mean: 19.817747287701224
Standard Deviation: 8.027612650442475

The Mean of B i greater compared to Mean of D